ion-content {
  .getDetailBtn {
    width: 100%;
    ion-button{
      color: #fff;
      background-color: #0807f9;
      border-radius: 5px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      width: 150px;
      float: right;
      margin: 15px;
      margin-left: auto;
    }
  }
  .icon {
    height: 30px;
    width: 30px;
  }
}
